html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Source Serif 4', serif;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

/* Navigation Bar */
header {
    /* position: fixed; */
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-items: end;
    justify-content: space-between;
    column-gap: 1.5rem;
    padding: 1.5rem 4.5rem;
    width: 100vw;
    background-color: hsla(250, 0%, 100%, 0.5);
    box-sizing: border-box;
}
header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-items: space-between;
    justify-content: space-between;
    column-gap: 1.5rem;
    width: 100%;
}
header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-items: end;
    justify-content: space-between;
    column-gap: 1.5rem;
}

header nav ul li {
    list-style: none;
    font-family: 'roboto';
    font-size: 1rem;
    text-decoration: none;
    background-color: hsla(250, 0%, 100%, 0.25);
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

section#about {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: start;
    justify-content: end;
    justify-items: end;
    padding: 4.5rem;
    background-color: gray;
    height: 40rem;
    box-sizing: border-box;
    row-gap: 0.75rem;
}

section#about h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}

section#about p {
    font-family: 'roboto';
    font-size: 1rem;
    color: hsl(0, 0%, 20%);
    line-height: 1.5;
}

section#about div {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: start;
    justify-content: end;
    justify-items: end;
    padding: 1.5rem;
    background-color: white;
    height: 20rem;
    box-sizing: border-box;
    row-gap: 0.75rem;
}
